[Unit]
Description=foggle fog server rebooter
ConditionPathExists=/home/sam/git/samiam2013/foggle
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/sam/git/samiam2013/foggle/
ExecStart=/usr/local/go/bin/go run .
StandardOutput=file:/home/sam/git/samiam2013/foggle/logs/output.log
StandardError=file:/home/sam/git/samiam2013/foggle/logs/error.log
Restart=on-failure
RestartSec=10
SyslogIdentifier=foggle

[Install]
WantedBy=multi-user.target